body {
  font-family: 'Istok Web', sans-serif;
  background-color: rgb(247, 241, 237);
}

.group:before, .group:after { content: ""; display: table; }
.group:after { clear: both; }

.container {
  width: 960px;
  margin: 0 auto;
}
.content {
  padding: 20px 10px;
  background-color: rgb(255, 255, 255);
}

header {
  background-color: rgb(210, 53, 0);
  color: rgb(255, 255, 255);
}

header h1 {
  font-size: 130px;
  font-weight: 700;
  float: left;
}

nav {
  float: right;
  margin-top: 100px;
}

header li {
  float: left;
  border-left: 1px solid #fff;
}

header li:first-child {
  border-left: none;
}

header li a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  padding: 0 16px;
}
#destacado {
  overflow: hidden;
  padding: 0 0 20px 0;
  border-bottom: 2px solid rgb(125, 99, 87);
}
#destacado>img {
  float: right;
  margin-left: 20px;
}
#destacado>h1 {
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: bold;
  line-height: 120%;
  color: rgb(51, 51, 51);
}
#destacado>p {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 150%;
  color: rgb(51, 51, 51);
}
#destacado>p:last-child{
  margin-bottom: 0;
} 

#secundarias {
  overflow: hidden;
  margin-bottom: 20px;
  padding: 20px 0;
  border-bottom: 1px solid rgb(225, 213, 199);
}
#secundarias .secundaria {
  float: left;
  width: 300px;
  margin-right: 20px;
  padding: 10px;
  background-color: rgb(225, 213, 199);
}
#secundarias .secundaria:last-child {
  margin-right: 0;
}
#secundarias .secundaria>h1 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  line-height: 120%;
  color: rgb(68, 38, 3);
}
#secundarias .secundaria>p {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 150%;
  color: rgb(51, 51, 51);
}
#secundarias .secundaria>p:last-child{
  margin-bottom: 0;
} 

#flujo {
  float: left;
  width: 620px;
}
#flujo .noticia {
  padding-bottom:20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(216, 208, 204);
  overflow: hidden;
}
#flujo .noticia>img {
  float: left;
  margin-right: 20px;
} 
#flujo .noticia>h1 {
  margin-bottom: 5px;
  font-size: 32px;
  font-weight: bold;
  line-height: 120%;
  color: rgb(68, 38, 3);
}
#flujo .noticia>p {
  font-family: Arial, sans-serif;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 150%;
  color: rgb(51, 51, 51);
}
#flujo .noticia>p:last-child{
  margin-bottom: 0;
} 

#sidebar {
  float: right;
  width: 300px;
}












