* {

}
h2 {

}
.big {

}
#main {

}
p a {

}
p>a {

}
h1+p{

}
h1~p{

}
a:hover{
	
}
/*div {
	width: 350px;
	height: 400px;
	padding: 30px;
	margin: 50px;
	border: 2px solid #000;
	box-sizing: border-box;
	overflow: hidden;
}
p {
	float: left;
}*/
.big {
	position: relative;
}
.big div {
	width: 200px;
	height: 200px;
	background-color: #ccc;
	margin: 10px;
	float: left;
}
.mini1 {
	position: static;
}
.mini2 {
	position: relative;
	top: 10px;
}
.mini3 {
	position: absolute;
	background-color: #c00!important;
	top: 700px;
	right: 10px;
}
.mini4 {
	position: fixed;
	top: 300px;
	left: 700px
}