div.wrapper {
	width: 1240px;
	margin: 0 auto;
}
div.huge {
	width: 400px;
	margin-right: 20px;
	float: left;
}
div.huge:last-child {
	margin-right: 0;
}
div.modulo {
	width: 400px;
	height: 400px;
	box-sizing: border-box;
	margin: 20px 0;
	padding: 10px;
	border: 1px solid #000;
	position: relative;
	float: left;
}
div.modulo div.mini {
	width: 50%;
	height: 50%;
	box-sizing: border-box;
	padding: 10px;
	border: 1px dashed #000;
	position: absolute;
	bottom: 0;
	right: 0;
}
div.last {
	margin-right: 0;
}
h1 {
	text-align: center;
}
#hexa {
	background-color: #FF00BC;
}
#hexa .mini {
	background-color: #0100FF;
	color: #fff;
	opacity: 0.5;
}
#rgb {
	background-color: rgb(0,255,205);
}
#rgb .mini {
	background-color: rgba(232,52,69,0.5);
}
#rgb+h1{
	color: rgb(52,151,232);
}
#hsl {
	background-color: hsl(118, 100%, 70%);
}
#hsl .mini {
	background-color: hsla(22,67%,50%,0.8);
}
