* {
	box-sizing: border-box;
}
body {
	background-color: #e5e5e5;
}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
.container {
	width: 960px;
	margin: 0 auto;
	background-color: #fff;
}
.set {
	border-bottom: 1px solid #ccc;
	margin: 10px;
	padding: 10px;
}
.set:last-child {
	border-bottom: none;
}
.box {
	width: 150px;
	height: 150px;
	background-color: #ccc;
	float: left;
}
.btn {
	float: right;
	padding: 10px;
	margin: 50px 0 0;
	background-color: #93ACC4;
	border-radius: 5px;
	color: #fff;
	text-decoration: none;
}
.btn:hover {
	background-color: #6387AA;
}

/* Tranformaciones */
.set:nth-child(1) .btn:hover+.box {
	background-color: #FDB2FF;
	-webkit-transform: translate(100px, 150px);
	transform: translate(100px, 150px);
	transition: background-color 1s ease-in, -webkit-transform 500ms ease-in 500ms;
}
.set:nth-child(2) .btn:hover+.box {
	-webkit-transform: scale(2,3);
}
.set:nth-child(3) .btn:hover+.box {
	-webkit-transform: rotate(45deg);
}
.set:nth-child(4) .btn:hover+.box {
	-webkit-transform: skew(30deg, 15deg);
}
.set:nth-child(5) .btn:hover+.box {
	-webkit-transform: translatey(300px);
}
.set:nth-child(6) .btn:hover+.box {
	-webkit-transform: scale(2.66,0.5);
	-webkit-transform-origin: 0% 0%;
}
.set:nth-child(7) .btn:hover+.box {
	-webkit-transform: rotate(45deg) skew(20deg, 20deg);
}
.set:nth-child(8) .btn:hover+.box {
	-webkit-transform: translate(450px, -300px) scale(2,2) rotate(45deg);
}


