* {
	box-sizing: border-box;
}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
html, body {
	height: 100%;
}
body {
	font-size: 16px;
}
.container {
	width: 980px;
	margin: 0 auto;
	padding: 10px;
	background-color: rgb(205, 205, 205);
}
article {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	height: 300px;
}
article.top {
	width: 470px;
	background-color: rgb(84,209,182);
}
article.bottom {
	width: 100%;
	margin-bottom: 0;
	background-color: rgb(209,139,84);
}
article:nth-child(3){
	margin-right: 0;
	background-color: rgb(178,84,209);
}