* {
	box-sizing: border-box;
}
body {
	background-color: #e5e5e5;
}
.container {
	width: 960px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
}
.row {
	margin: 0 0 20px 0;
}
label, span {
	display: inline-block;
	width: 140px;
	margin-right: 10px;
	text-align: right;
}
label.genero {
	display: inline-block;
	width: auto;
	margin-left: 10px;
	text-align: left;
}